PORT=5000
NODE_ENV=development

# Database 
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/?appName=<appname>
REDIS_URL=rediss://default:<password>@<host>.upstash.io:6379

# Security 
JWT_SECRET=super_secret_random_string_123

# Cloud Storage (R2/S3)
R2_ACCESS_KEY_ID=<your-r2-access-key>
R2_SECRET_ACCESS_KEY=<your-r2-secret-key>
R2_BUCKET_NAME=<your-bucket-name>
R2_ENDPOINT=https://<your-account-id>.r2.cloudflarestorage.com

# Google Auth
GOOGLE_CLIENT_ID=<your-google-client-id>.apps.googleusercontent.com

# Client URL (Frontend)
CLIENT_URL=http://localhost:5173
